*
!.env
!.env.local
!.sentryclirc
!public
!src
!next-i18next.config.js
!next.config.js
!package.json
!sentry.client.config.ts
!sentry.edge.config.ts
!sentry.properties
!sentry.server.config.ts
!tsconfig.json
!yarn.lock