@import '../../../styles/breakpoints.scss';

.header {
  --actionbar-background-color: var(--color-coat-of-arms) !important;
  --header-focus-outline-color: var(--color-white) !important;
  --nav-background-color: var(--color-coat-of-arms) !important;
  --header-color: var(--color-white) !important;

  @include medium-down {
    --lang-selector-item-font-color: var(--color-black-90) !important;
    --header-focus-outline-color: var(--color-coat-of-arms) !important;
  }

  z-index: var(--header-z-index);
  left: 0;
  position: sticky !important;
  top: 0;

  a,
  button,
  input,
  * {
    border-radius: 0px;
  }

  > a:first-child {
    z-index: calc(var(--header-z-index) + 1) !important;
  }
}

.actionBar {
  @include medium-down {
    --header-focus-outline-color: var(--color-white) !important;
  }
}

.signInButton,
.signOutButton {
  font-weight: 500;
}
