@import '../../../styles/breakpoints.scss';

.navigation {
  --actionbar-background-color: var(--color-coat-of-arms) !important;
  --header-background-color: var(--color-white) !important;
  --header-color: var(--color-white) !important;
  --nav-background-color: var(--color-white) !important;
  --color-focus-outline: var(--color-coat-of-arms) !important;
  --nav-link-hover-color: var(--color-coat-of-arms) !important;

  z-index: var(--header-z-index);
  left: 0;
  position: sticky !important;
  top: 0;

  @include medium-up {
    .loginMenu {
      h3 {
        color: var(--color-black-90) !important;
      }
    }
  }

  @include medium-down {
    --lang-selector-item-font-color: var(--color-black-90) !important;
    --nav-link-font-color: var(--color-black-90) !important;

    .loginMenu {
      button,
      span,
      svg {
        color: var(--color-black-90) !important;
      }
    }
  }
}
