@import '../../../../../styles/breakpoints.scss';
@import '../../../../../styles//mixins.scss';

.streetAddressRow {
  display: grid;
  grid-gap: var(--spacing-m);
  grid-template-columns: 1fr;

  @include small-down {
    > div:first-child {
      order: 2;
    }

    > div:last-child {
      order: 1;
    }
  }

  @include medium-up {
    grid-template-columns: 4fr 2fr;

    &.readOnly {
      grid-template-columns: 1fr 1fr;
    }
  }
}

.zipRow {
  display: grid;
  grid-gap: var(--spacing-m);
  grid-template-columns: 1fr;

  @include medium-up {
    grid-template-columns: 2fr 4fr;

    &.readOnly {
      grid-template-columns: 1fr 1fr;
    }
  }
}

.extraInfoField {
  --textarea-height: 95px !important;
}

.deleteButton {
  padding: var(--spacing-s);
  border: none;

  @include focus-outline(-3px);
}
