@import '../../../../../styles/breakpoints.scss';

.streetAddressRow {
  @include medium-up {
    > div:first-child {
      order: 2;
    }

    > div:last-child {
      order: 1;
    }
  }
}

.textArea {
  --textarea-height: 63px !important;

  label {
    font-weight: 700;
  }
}

.iconRow {
  display: flex;
  align-items: center;
  margin-bottom: var(--spacing-s);
  font-size: var(--fontsize-body-l);
  white-space: break-spaces;

  .icon {
    margin-right: var(--spacing-2-xs);
  }
}
