.combobox,
.select {
  > div > button > span {
    white-space: nowrap;
  }

  > div:focus-within {
    box-shadow: none;
    outline: var(--focus-outline-width) solid var(--focus-outline-color);
    outline-offset: 1px;
  }
}
