@import 'hds-core/lib/base.css';
/* Imports hds design tokens as CSS variables */
@import 'hds-design-tokens/lib/all.min.css';
@import './vendor/normalize';
@import 'fonts';

html,
body {
  --label-height: 1.75rem;
  --focus-outline-width: 3px;
  --focus-outline-color: var(--color-coat-of-arms);
  --toastify-color-success: var(--color-success);

  padding: 0;
  margin: 0;
  font-size: var(--fontsize-body-m);
}

* {
  box-sizing: border-box;
  font-family: $font-family-base;
}
