@import 'fonts';

html,
body {
  --label-height: 1.75rem;
  --focus-outline-width: 3px;
  --focus-outline-color: var(--color-coat-of-arms);
  --toastify-color-success: var(--color-success);

  padding: 0;
  margin: 0;
}

* {
  box-sizing: border-box;
  font-family: $font-family-base;
}
