@import '../../../styles/breakpoints.scss';
@import '../../../styles/widths.scss';

.emailRow,
.membershipNumberRow,
.nativeLanguageRow {
  display: grid;
  grid-gap: var(--spacing-m);
  grid-template-columns: 1fr;

  @include medium-up {
    grid-template-columns: 1fr 1fr;
  }
}

.sectionTitle {
  margin-bottom: calc(0px - var(--spacing-xs));
}

.notifications {
  margin-top: var(--spacing-m);
}
