@import '../../../../../styles/breakpoints.scss';

.streetAddressRow {
  display: grid;
  grid-gap: var(--spacing-m);
  grid-template-columns: 1fr;

  @include medium-up {
    > div:first-child {
      order: 2;
    }

    > div:last-child {
      order: 1;
    }
  }

  @include medium-up {
    grid-template-columns: 1fr 1fr;
  }
}

.zipRow {
  display: grid;
  grid-gap: var(--spacing-m);
  grid-template-columns: 1fr;

  @include medium-up {
    grid-template-columns: 1fr 1fr;
  }
}

.textArea {
  --textarea-height: 63px !important;

  label {
    font-weight: 700;
  }
}

.iconRow {
  display: flex;
  align-items: center;
  margin-bottom: var(--spacing-s);
  font-size: var(--fontsize-body-l);

  .icon {
    margin-right: var(--spacing-2-xs);
  }
}
