@import '../../../styles/breakpoints.scss';
@import '../../../styles/widths.scss';

.emailRow,
.membershipNumberRow,
.nativeLanguageRow {
  display: grid;
  grid-gap: var(--spacing-m);
  grid-template-columns: repeat(2, 1fr);

  @include medium-up {
    grid-template-columns: 1fr 1fr;
  }
}

.notifications {
  margin-top: var(--spacing-m);
}

.notification {
  margin: var(--spacing-l) 0;
}

.buttonWrapper {
  display: flex;
  justify-content: flex-end;
}

.button {
  @include min-width-column(2);
}

.divider {
  border-top: 1px solid var(--color-black-20);
  margin: var(--spacing-m) 0;
}
