@import '../../../styles/breakpoints.scss';

.participantAmountSelector {
  margin-bottom: var(--spacing-xs);

  @include medium-up {
    display: grid;
    grid-gap: var(--spacing-m);
    grid-template-columns: 2fr 4fr;
  }

  .buttonWrapper {
    padding-top: var(--spacing-m);

    @include medium-up {
      padding-top: var(--label-height);
    }

    button {
      @include small-down {
        width: 100%;
      }
    }
  }
}
.participantAmountAddendum {
  color: var(--color-black-60);
  display: block;
  font-size: var(--fontsize-body-m);
  line-height: var(--lineheight-l);
  margin-top: var(--spacing-s);
  white-space: pre-line;
}
