@import '../../../../styles/breakpoints.scss';
@import '../../../../styles/mixins.scss';
@import '../../../../styles/widths.scss';

.titleRowWrapper {
  display: grid;

  .titleRow {
    display: grid;
    grid-gap: var(--spacing-m);

    .title {
      *:not(:last-child) {
        margin-right: var(--spacing-xs);
      }

      h1 {
        margin: 0;
      }
    }

    .actionsDropdown {
      justify-self: flex-end;

      @include medium-up {
        @include min-width-column(2);
      }
    }

    .toggleButton {
      height: var(--spacing-3-xl);
      padding: var(--spacing-3-xs);

      @include focus-outline(0px);

      svg {
        transform: rotate(90deg);
      }
    }

    @include medium-up {
      display: flex;

      .title {
        flex: 1 1 0%;
      }

      .buttonWrapper {
        align-self: flex-start;
        margin-bottom: unset;
      }

      button {
        @include min-width-column(2);

        white-space: nowrap;
      }
    }
  }
}
